/* CSS Document */
.box {
  height: 5em;
  width: 5em;
  background-color: orangered;
}
.comment_ul li {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  list-style: none;
  flex-direction: column;
  cursor: move;
  width: 200px;
  position: absolute;
  overflow: hidden;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-left-radius: 100px 20px;
  border-top-right-radius: 20px 100px;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.2);
  user-select: none;
  font-size: 14px;
  color: var(--background);
  z-index: 112;
  background-color: rgba(8, 90, 41, 0.8);
  top: 88.8px;
  left: 490.2px;
  display: flex;
  touch-action: none;
}
.comment_ul li .head {
--element: #409eff;
--classA: #dcdfe6;
--classB: #e4e7ed;
--classC: #ebeef5;
--classD: #f2f6fc;
--main: #303133;
--routine: #606266;
--minor: #909399;
--seat: #c0c4cc;
--success: #67c23a;
--warning: #e6a23c;
--danger: #f56c6c;
--info: #909399;
--radius-pc: 0px;
--radius-wap: 0px;
--text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
--box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
--background: #fff;
--swiper-theme-color: #fff !important;
--balloon-border-radius: 2px;
--balloon-color: rgba(16,16,16,0.95);
--balloon-text-color: #fff;
--balloon-font-size: 12px;
--balloon-move: 4px;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
--theme: #4e7cf2;
  list-style: none;
  cursor: move;
  user-select: none;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  pointer-events: none;
  height: 42px;
  line-height: 42px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--classD);
  color: var(--background);
}
.head img {
--element: #409eff;
--classA: #dcdfe6;
--classB: #e4e7ed;
--classC: #ebeef5;
--classD: #f2f6fc;
--main: #303133;
--routine: #606266;
--minor: #909399;
--seat: #c0c4cc;
--success: #67c23a;
--warning: #e6a23c;
--danger: #f56c6c;
--info: #909399;
--radius-pc: 0px;
--radius-wap: 0px;
--text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
--box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
--background: #fff;
--swiper-theme-color: #fff !important;
--balloon-border-radius: 2px;
--balloon-color: rgba(16,16,16,0.95);
--balloon-text-color: #fff;
--balloon-font-size: 12px;
--balloon-move: 4px;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
--theme: #4e7cf2;
  list-style: none;
  cursor: move;
  user-select: none;
  font-size: 14px;
  pointer-events: none;
  line-height: 42px;
  color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: 0;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.uname {
--element: #409eff;
--classA: #dcdfe6;
--classB: #e4e7ed;
--classC: #ebeef5;
--classD: #f2f6fc;
--main: #303133;
--routine: #606266;
--minor: #909399;
--seat: #c0c4cc;
--success: #67c23a;
--warning: #e6a23c;
--danger: #f56c6c;
--info: #909399;
--radius-pc: 0px;
--radius-wap: 0px;
--text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
--box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
--background: #fff;
--swiper-theme-color: #fff !important;
--balloon-border-radius: 2px;
--balloon-color: rgba(16,16,16,0.95);
--balloon-text-color: #fff;
--balloon-font-size: 12px;
--balloon-move: 4px;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
--theme: #4e7cf2;
  list-style: none;
  user-select: none;
  font-size: 14px;
  pointer-events: none;
  line-height: 42px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: var(--main);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.unamepar {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
--theme: #4e7cf2;
  list-style: none;
  cursor: move;
  user-select: none;
  font-size: 14px;
  pointer-events: none;
  line-height: 42px;
  color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  margin-right: 5px;
  flex: 1;
  width: 0;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.labeldate {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  list-style: none;
  cursor: move;
  user-select: none;
  font-size: 14px;
  pointer-events: none;
  line-height: 42px;
  color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  margin-left: auto;
}
.body {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  list-style: none;
  cursor: move;
  user-select: none;
  font-size: 14px;
  color: var(--background);
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  height: 158px;
  padding: 10px;
}
